/*Fonts*/
/*Comic Neue*/
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

.light {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: normal;
}

.regular {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: normal;
}

.bold {
  font-family: "Comic Neue", cursive;
  font-weight: bold;
  font-style: normal;
}

.light-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 300;
  font-style: italic;
}

.regular-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 400;
  font-style: italic;
}

.bold-italic {
  font-family: "Comic Neue", cursive;
  font-weight: 700;
  font-style: italic;
}

/********** Base styles **********/
body {
  font-family: "Comic Neue", cursive;
  text-align: center;
}
* {
  box-sizing: border-box;
}
h1 {
  margin-bottom: 15px;
  color: #111111;
}

p {
    font-size: 16px;
  border: 1px solid black;
  width: 90%;
  height: 45vh;
  padding-left: 5px;
  padding-bottom: 35px;
  /*margin-right: 6vw;
  margin-left: 6vw;
  font-family: Helvetica;*/
  color: white;
  position: relative;
  
  
}
#item-1, #item-2, #item-3 {
    background-color: #999999;
    color: black;
}
/*#item-1 {
    background-color: #ffd49c;
    color: black;
}
#item-2 {
    background-color: #573202;
    color: white;
}
#item-3 {
    background-color: #bdbbbb;
    color: black;
}*/

#tile {
    position: relative;
    text-align: left;
}
.section-title {
    font-size: 125%;
    position: relative;
    top: 10px;
    color: black;
    padding-left: 20px;
    padding-right: 20px;
}
.section-text {
    text-align: left;
    position: relative;
    top:12px;
}
/* Simple Responsive Framework. */
.row {
  width: 100%;
  
}

.row div {
    float: left;
}

.menu-item {
  padding-left: 15px;
 
}

/********** Large devices only **********/
@media (min-width: 1200px) {
 
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
 
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}

/********** Extra Small devices only **********/
@media (max-width: 768px) {

}
